{% extends 'layout.html.twig' %}

{% block content %}
{{dump(race)}}
<h1>Race {{ race.name }}</h1>
<p>{{ race.id }}. {{ race.name }} - {{race.species_name}}</p>
<a href="/race/show/{{ race.id }}" class="btn btn-sm btn-success my-2"><i class="fas fa-eye"></i></a>
<a href="/race/edit/{{ race.id }}" class="btn btn-sm btn-warning my-2"><i class="fas fa-edit"></i></a>
<a href="/race/delete/{{ race.id }}" class="btn btn-sm btn-danger my-2"><i class="fas fa-trash"></i></a>
<a href="/race/index" class="btn btn-sm btn-outline-primary my-2">back</a>
{% endblock %}